<!DOCTYPE html>
<html lang="pt_BR">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Erro | Happy</title>

        <link rel="icon" href="/images/logo-icon.png">

        <link rel="stylesheet" href="/css/main.css">
        <link rel="stylesheet" href="/css/modal.css">

        <link href="https://fonts.googleapis.com/css2?family=Nunito:wght@400;600;800&display=swap" rel="stylesheet">
    </head>

    <body id="body">
        
        <script src="/scripts/modal.js"></script>

            <script>
                alertError()
            </script>
    </body>
</html>